@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


@mixin flexCenter($height, $direction, $bg) {
   height: $height;
   display: flex;
   align-items: center;
   flex-direction: $direction;
   background: $bg;
   text-align: center;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

body{
   @include flexCenter(100vh, column, white);
   font-family: "Playfair-Display";
   color: #303030;
}

main {
   padding: 25px;
}

.hide {
   visibility: hidden;
}

.greeting-box {
   text-align: left;
   transition: height 4s ease;
   .greeting {
      font-size: 3em;
      font-weight: 900;
   }
   .medium-heading {
      font-family: "Roboto";
      font-size: 1.5em;
      font-weight: 300;
   }
   .small-heading {
      font-family: "Roboto";
      font-size: 1em;
      font-weight: 300;
   }
}

.not-found {
   font-family: "Roboto";
   font-size: 1.5em;
   font-weight: 300;
   color:red;
}

.search-box {
   width: 100%;
   margin: 0 0 75px;
   .search-bar {
      display: block;
      width: 100%;
      padding: 15px;
      appearance: none;
      background: none;
      border: 1px solid #303030;
      outline: none;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 16px;
      margin-top: 25px;
      box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
      font-size: 1.2em;
      transition: 0.4s ease;
      &:focus {
         background-color: rgba(255, 255, 255, 0.75);
       }
    }
 }
 
 .location-box {
   .location {
      font-size: 2.5em;
      font-weight: 900;
    }
    .date {
      font-size: 1.5em;
      font-weight: 400;
      text-align: center;
    }
 }

 .weather-box {
   .temp {
      position: relative;
      display: inline-block;
      margin: 10px auto;
      padding: 15px 25px;
      font-size: 4em;
      font-weight: 900;
    }
   .weather {
      font-size: 2em;
      font-weight: 700;
    }
 }

 .radio-box {
    width: auto;
    height: 1em;
    font-family: "Roboto";
    font-weight: 300;
    padding: 10px;
    cursor: pointer;
    .radio-btn {
      margin-right: 5px;
      background-color: #eee;
      &:hover {
         background-color: #ccc;
      }
    }
 }